

#apDiv1 {
	position:absolute;
	left:240px;
	top:62px;
	width:580px;
	height:963px;
	z-index:1;
}
.formelement{
	align:left;
	width: 300px;
	border:inset;
	position:absolute;	
}
#button{
	position:absolute;	
}
#paneladd{
	margin-top: 20px;
	margin-botton :10px;
	margin-left :240px;

	width : 60%;
	height : 900px;
	}
	
#button:hover{
	 border: 1px solid ;
  background: #f5a747;
  background-image: -webkit-linear-gradient(top, #f5a747, #fc9e24);
  background-image: -moz-linear-gradient(top, #f5a747, #fc9e24);
  background-image: -ms-linear-gradient(top, #f5a747, #fc9e24);
  background-image: -o-linear-gradient(top, #f5a747, #fc9e24);
  background-image: linear-gradient(to bottom, #f5a747, #fc9e24);
  text-decoration: none;
	
	
}


#button{
	position: absolute;
	width:160px;
	border-radius:10px;
	border:outset;
}