#paneladd{
	margin-top: 20px;
	margin-bottom :10px;
	margin-left :140px;

	width : 70%;
	
	}
	
	#bidnow{
	margin-left :210px;

	}
	
 	.FAA { 
 		display:none;
 		font-size: 10px;

 	}
	.FAQ { 
 		cursor:hand; 
		cursor:pointer;
        border:1px solid darkorange;
		margin-left: 180px;
        border-radius: 3px;
        width:80px; 
        background-color: #f0f0f0;
        font-size: 13px;
        padding :5px;  	       
    }

.glyphicon.glyphicon-th-large {
    font-size: 20px;
}
.glyphicon.glyphicon-th {
    font-size: 20px;
}
.glyphicon.glyphicon-map-marker {
    font-size: 20px;
}
.glyphicon.glyphicon-road {
    font-size: 20px;
}
.glyphicon.glyphicon-phone{
    font-size: 20px;
}
.glyphicon.glyphicon-euro{
    font-size: 20px;
}